# dependencies
node_modules/

# Next.js build output
.next/
out/

# Vercel
.vercel/

# environment variables — NEVER subir al repo
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# TypeScript
*.tsbuildinfo
next-env.d.ts

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
